<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Travel App</title>
  </head>
  <body>
    <main>
      <h1 class="headline noprint">Travel App</h1>

      <section class="travel--input noprint">
        <form class="form--input">
          <div class="form--city">
            <label class="label--text" for="city">Enter city here</label>
            <input
              type="text"
              class="user--input"
              id="city"
              placeholder="enter city here"
              required
            />
          </div>
          <div class="form--date">
            <label class="label--text" for="date">Enter date</label>
            <input
              type="date"
              class="user--input"
              id="date"
              placeholder="yyyy.mm.dd"
              required
            />
          </div>
          <div class="form--submit">
            <input
              class="submit--btn"
              id="generate"
              type="submit"
              value="Get Travel Details"
            />
          </div>
        </form>
      </section>

      <section class="travel--result">
        <div class="result--container">
          <h2 class="headline">Your travel details</h2>
          <div id="city--image"></div>
          <div class="result--content" id="travel--date"></div>
          <div class="result--content" id="city--result"></div>
          <div class="result--content" id="forecast"></div>
          <div class="result--content" id="print--btn"></div>
        </div>
      </section>
    </main>
  </body>
</html>
