// #app {
//   display: grid;
//   grid-auto-rows: minmax(150px, auto);
//   /* grid-template-columns:  */
//   height: 100vh;
//   background: #f23557;
//   color: #f0d43a;
//   justify-content: center;
//   grid-gap: 1em;
//   font-size: 20px;
//   font-family: 'Oswald', sans-serif;
// }

// .holder {
// }

// .entry {
//   background: rgba(59, 74, 107, 0.4);
// }

// #entryHolder {
// }

// #date {
// }

// #temp {
// }

// #content {
// }

// .headline {
// }
// .title {
// }

// /*  Basic Styling To Override Default For Basic HTML Elements */
// label {
//   display: block;
//   font-size: 27px;
// }

// input {
//   display: block;
//   height: 60px;
//   width: 320px;
//   background: #22b2da;
//   color: #f0d43a;
//   font-size: 20px;
//   font-family: 'Oswald', sans-serif;
//   border: none;
// }

// button {
//   width: 400px;
//   height: 100px;
//   background: #3b4a6b;
//   color: #f0d43a;
//   font-size: 26px;
//   font-family: 'Oswald', sans-serif;
//   border: none;
//   box-shadow: 2px 4px 5px #444;
// }
// h1 {
//   font-size: 36px;
// }

// textarea {
//   background: #22b2da;
//   color: #f0d43a;
//   font-size: 20px;
//   font-family: 'Oswald', sans-serif;
// }
// /* Reset style for HTML element on active to have no border*/
// input:focus,
// select:focus,
// textarea:focus,
// button:focus {
//   outline: none;
// }
// /* Style for Placeholder Text*/
// ::placeholder {
//   /* Firefox, Chrome, Opera */
//   color: #f0d43a;
//   font-family: 'Oswald', sans-serif;
// }

// :-ms-input-placeholder {
//   /* Internet Explorer 10-11 */
//   color: #f0d43a;
//   font-family: 'Oswald', sans-serif;
// }

// ::-ms-input-placeholder {
//   /* Microsoft Edge */
//   color: #f0d43a;
//   font-family: 'Oswald', sans-serif;
// }

body {
  background: #ffb300;
  color: aliceblue;
  font-family: 'Lato', sans-serif;
  height: 100vh;
}

.headline {
  text-align: center;
}

h1 {
  margin-top: 5vh;
}

.form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.travel-input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.travel-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userInput {
  margin: 1em;
  border-radius: 2em;
  text-align: center;
}

.form-city {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit {
  border-radius: 2em;
}

.result_container {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: 90%;
  border-radius: 5%;
}

#cityImage {
  width: auto;
  margin-bottom: 10px;
  object-fit: cover;
}

.submit {
  background-color: #ffe70d;
}

.result_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
}

.result_text {
  width: auto;
  margin: 0.5em;
}
